label{
    display: block;
    margin-top: 20px;
}

select{
    margin-top: 20px;
    margin-bottom: 20px;
}

body { font-family: Arial; }

form { width: 300px; padding: 10px; border: 1px solid #ccc; }

label { display: block; margin-top: 10px; font-weight: bold; }

input, select { width: 95%; padding: 5px; margin-top: 5px; }

select[multiple] { height: 120px; }

.error { color: red; font-size: 12px; }

dialog { border: 1px solid #999; padding: 20px; }