.lista {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
}

.lista li {
  position: relative;
}

.lista img {
  width: 350px;
  height: 200px;
  border-radius: 6px;
}

.cover {
  position: absolute;
  z-index: 2;
  cursor: pointer;
}
