body{
    margin: 0px ;
    font-family: 'Poppins', sans-serif;
    background-color: #F7F7F7;
}

.header{
    background-color: #0A192F;
    width: 240px;
    height: 100vh;
    margin: 0px;
    position: absolute;
    padding-top: 70px;
}

.list_header, li, a{
    text-decoration: none;
    list-style: none;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    font-size: 18px;
    margin-left: 0px;
}

.list_header{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
}

.list_header li a:hover{
    color: #00A8E8;
    border-left: 3px solid #00A8E8;
    padding-left: 8px;
}

.main{
    display: flex;
    min-height: 107.5vh;
    background: #F7F7F7;
}

.blog_container {
    margin-left: 240px;
    padding: 40px 50px;
    background: linear-gradient(135deg, rgba(10,25,47,0.9), rgba(0,168,232,0.3)),
                url("photo-1467269204594-9661b134dd2b.jpg") center/cover no-repeat;
    min-height: 100vh;
}

.blog_main h1 {
    color: #00A8E8;
    margin-bottom: 5px;
}

.blog_main p{
    color: #00A8E8;
}

.blog_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 25px;
    margin-top: 30px;
}

.blog_card {
    background:  #0A192F;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 6px 16px rgba(0,0,0,0.5);
}

.blog_card1 {
    background:  #0A192F;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 6px 16px rgba(0,0,0,0.5);
}

.blog_card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.blog_card1 img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.blog_card h2 {
    margin: 0 0 8px;
    color: #F7F7F7;
    padding: 15px 20px 20px 20px;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 18px;
    min-height: 90px;
}


.blog_card1 h2 {
    margin: 0 0 8px;
    color: #F7F7F7;
    padding: 15px 20px 20px 20px;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 18px;
    min-height: 90px;
}

.blog_card a {
    color: #00A8E8;
    font-weight: 600;
    text-decoration: none;
    padding-left: 20px;
}

.blog_card1 a {
    color: #00A8E8;
    font-weight: 600;
    text-decoration: none;
    padding-left: 20px;
    padding-bottom: 30px;
}
